.main{
    width: 100%;
    margin-bottom: 250px;
}

.email{
    width: 500px;
    
}

.home{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}
video{
    width: 100%;
    background-position: bottom;
    position: fixed;
    background-size: cover;
    left:0;
    top:0;
    z-index: -1;

}

.txt{
    font-size: 180px;
    color: rgb(255, 255, 255);
}
.txte{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

@media screen and (max-width:1200px) {
    video{
        height: 300vh;
        width: auto;
    }   
}

@media screen and (max-width:920px) {
    .txt{
        font-size: 120px;

}
.txte{
    font-size: 30px;
}
    
}

@media screen and (max-width:800px){
    video{
        height: 200vh;
        width: auto;
    }
}

@media screen and (max-width:600px) {
    video{
        margin: 0;
        padding: 0;
    }
    
    .txt{
            font-size: 80px;

    }
    .txte{
        font-size: 20px;
    }
        
    }

    @media screen and (max-width:420px) {
        video{
            margin: 0;
            padding: 0;
            height: 200vh;
        }
        .txt{
                font-size: 70px;
    
        }
        .txte{
            font-size: 20px;
        }
            
        }
        @media screen and (max-width:300px) {
            video{
                height: 100%;
            }
            .txt{
                    font-size: 50px;
        
            }
            .txte{
                font-size: 15px;
            }
                
            }