.cont{
    position: relative;
    background-color: black;
    background-position: cover;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head .title h1{
    font-size: 50px;
    color: brown;
}

.line{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 5px;
}

.cont p{
    margin-left: 170px;
    margin-right: 170px;
}